# Arquivos de compilação (Objetos e Binários)
*.o
*.obj
*.hex
*.elf
*.lss
*.map
*.a
*.lib

# Pastas de saída do compilador (Build)
Debug/
Release/
bin/
obj/

# Arquivos do Microchip Studio / Atmel Studio
*.atsln
*.atp
*.user
*.suo
*.bak
.vs/

# Documentação (Não envie o HTML gerado, pois o GitHub gera o seu ou ocupa muito espaço)
# O ideal é que o usuário gere a documentação localmente usando o seu Doxyfile
docs/html/
docs/latex/
docs/stylesheet.css
docs/header.html
docs/footer.html
docs/lcd_i2c.docx
doxygen_sqlite3.db

# Logs e arquivos temporários
*.log
*.tmp

# Pastas de recursos privados
img/

# Arquivos de configuração e templates do Doxygen
docs/Doxyfile
